commands:

    01_create_path:
        command: 'mkdir -p /tmp/amzn-cloudwatch-agent'

    02_get_agent_rpm_package:
        command: 'wget https://s3.amazonaws.com/amazoncloudwatch-agent/amazon_linux/amd64/latest/amazon-cloudwatch-agent.rpm'
        cwd: /tmp/amzn-cloudwatch-agent
        ignoreErrors: true
    
    03_install_agent:
        command: 'sudo rpm -U ./amazon-cloudwatch-agent.rpm'
        cwd: /tmp/amzn-cloudwatch-agent
        ignoreErrors: true

container_commands:

    01-add_configuration_file:
        command: 'sudo aws s3 cp s3://payments-infrastructure-assets/cloud-watch-agent/amazon-cloudwatch-agent.json /opt/aws/amazon-cloudwatch-agent/etc/'
        ignoreErrors: true
    
    02-start_agent:
        command: 'sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json -s'
        ignoreErrors: true
