files:
  "/etc/newrelic-infra.yml" :
    mode: "000644"
    owner: root
    group: root
    content: |
      license_key: e010ffb62b5c9ab4ac7563e688961fbd9c973765
      verbose: 1

commands:
    01_create_agent_yum_repo:
        command: 'curl -o /etc/yum.repos.d/newrelic-infra.repo https://download.newrelic.com/infrastructure_agent/linux/yum/el/6/x86_64/newrelic-infra.repo'
        cwd: /home/ec2-user

    02_install_newrelic_agent:
        command: 'yum install -y newrelic-infra-1.8.23-1'
        cwd: /home/ec2-user
